@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

* {
    animation: animate 3s ease;
}

@keyframes animate {
    from {
        transform: translateY(400px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}